<div class="container">

    <%= render "shared/user_panel" %>

    <section class="user-profile">
        <div class="user-profile__sidebar">
            <ul class="user-profile__sidebar__list">
                <li class="user-profile__sidebar__list__list-item"><span>My Messages</span></li>
                <li class="user-profile__sidebar__list__list-item"><span>My Listings</span></li>
                <li class="user-profile__sidebar__list__list-item"><span>Watchlist</span></li>
                <li class="user-profile__sidebar__list__list-item"><span>Sold Listings</span></li>
                <li class="user-profile__sidebar__list__list-item"><span>Purchases</span></li>
            </ul>
        </div>
        <div class="user-profile__content">

        </div>
    </section>

</div>