<div class="container">

  <div class="listings-panel">
    <span class="listings-panel__total">
      <%= listing_count(@listings) %>
    </span>
    <input type="text" class="listings-panel__search", placeholder="Search titles">
  </div>
  <div class="listings-main">
    <div class="filter">
      <%= render "shared/filter-listings" %>
    </div>
    <div class="card-container">
      <% @listings.each do |listing| %>
        <% if listing.sold != true %>
          <%= render "shared/listing-card", listing: listing %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  const search = document.querySelector(".listings-panel__search");
  const titles = document.querySelectorAll(".card--listing__title")
  const cards = document.querySelectorAll(".card--listing")
  search.addEventListener('keyup', () => {
    const searchString = search.value;
    if (searchString == "") {
      cards.forEach(card => {
        card.classList.remove("hidden");
      });
    }
    const regExp = new RegExp(searchString, 'i')
    titles.forEach(title => {
      const titleText = title.textContent;
      if (!titleText.match(regExp)) {
        title.closest(".card--listing").classList.add("hidden");
      }
    });
  })
</script>