<div class="container">

  <div class="listings-panel">
    <span class="listings-panel__total">
      <%= listing_count(@listings) %>
    </span>
    <input type="text" class="listings-panel__search", placeholder="Search">
  </div>
  <section class="card-container">
    <% @listings.each do |listing| %>
      <% if listing.sold != true %>
        <%= render "shared/listing-card", listing: listing %>
      <% end %>
    <% end %>
  </section>
</div>