<%= render 'shared/form_errors', listing: @listing %>

<div class="container">

    <%= render 'form', listing: @listing, categories: @categories,
         brands: @brands, conditions: @conditions %>

</div>

