<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome to PCPartsPal, <%= @user.username %></h1>
    <p>You have successfully created an account, your login is <%= @user.email %></p> <br>
    <p>
        To login to the site, follow the following link: <%= @url %>.
    </p>
    <p>
        See you soon! The PcPartsPal Team.
    </p>
</body>
</html>