.home-section {
    margin-top: 7.5rem;
    text-align: center;
    &__title {
        margin-bottom: 3rem;
        display: inline-block;
    }
}

.brands {
    background-color: #EAEAEA;
    padding: 4.5rem;
    width: 100%;
}
