.home-section {
    margin-top: 7.5rem;
    text-align: center;

    @media only screen and (max-width: 450px) {
        margin-top: 4rem;
    }

    &__title {
        margin-bottom: 3rem;
        display: inline-block;
        
        @media only screen and (max-width: 750px) {
            font-size: 2.5rem;
        }
        @media only screen and (max-width: 450px) {
            font-size: 2rem;
        }
    }
}

.brands {
    background-color: #EAEAEA;
    padding: 4.5rem;
    width: 100%;
}
