.listing-show {

    padding: 5rem;

    &__return-links {
        display: flex;
        &__link {
            color: $color-black;
            margin-right: .8rem;

            &:hover {
                color: $color-grey-dark;
            }
        }
        &__spacer {
            color: $color-black;
            margin-right: .8rem;
        }
        &__current {
            color: $color-grey-dark;
            text-decoration: none;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__images {
        width: 50%;
        max-width: 80rem;
        padding: 2rem;

        &__main {
            width: 100%;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        margin-left: 5rem;
    }

    &__title {
        font-weight: 300;
        font-size: 2.4rem;
        margin-bottom: .5rem;
    }
    &__brand {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
    &__description {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        span {
            text-decoration: underline;
        }
    }
    &__condition {
        span {
            text-decoration: underline;
        }
        margin-bottom: 1.5rem;
    }
    &__price {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__message {
        margin-bottom: 2rem;
    }

    &__user-details {
        display: flex;
        flex-direction: column;
        &__name {
            font-weight: 500;
            font-size: 1.6rem;
            margin-bottom: .3rem;
        }
        &__listing-total {
            font-weight: 300;
            margin-bottom: 3rem;;
        }
    }

    &__user-buttons {
        display: flex;
        flex-direction: column;
        &--edit, &--delete {
            text-align: center;
            font-weight: 400;
            text-decoration: none;
            margin-bottom: .3rem;
        }
        &--edit {
            border: solid 2px $color-notice;
            &:hover {
                background-color: $color-notice;
            }
        }
        &--delete {
            border: solid 2px $color-orangered;
            &:hover {
                background-color: $color-orangered;
            }
        }
    }

}

