// Roboto options
// Thin 100
// Light 300
// Light 300 italic
// Regular 400
// Regular 400 italic
// Medium 500
// Bold 700


html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 62.5%;   // 1 rem = 10px
    color: $color-black;
}

body {
    font-size: 1.4rem;
}

.header-2 {
    font-size: 3rem;
    font-weight: 300;
    padding: 0 3rem 1rem 3rem;
    border-bottom: 2px solid $color-orangered;
}