<h3 class="filter__header">Filter Results</h3>
<select class="filter__select" id="category_filter">
  <%= Category.all.each do |cat| %>
    <option><%= cat.name.capitalize %></option>
  <% end %>
</select>
<select class="filter__select" id="brand_filter">
  <%= Brand.all.each do |brand| %>
    <option><%= brand.name.capitalize %></option>
  <% end %>
</select>
<button class="btn btn-up btn-ghost filter__submit">Filter</button>

<script>
  filter = document.querySelector(".filter__submit");
  brand = document.querySelector("#brand_filter").value;
  category = document.querySelector("#category_filter").value;
  filter.addEventListener('click', () => {
    fetch(`https://localhost:3000/listings?category=${category}&brand=${brand}`, { method: 'POST' })
      .then(results => response.json())
      .then(response => console.log(response));
  })
</script>