<footer class="footer">
    <div class="footer__socials">
        <%= image_tag "facebook.svg", class: "footer__socials__icon" %>
        <%= image_tag "twitter.svg", class: "footer__socials__icon" %>
        <%= image_tag "instagram.svg", class: "footer__socials__icon" %>
    </div>
    <p class="footer__byline">	&#169; PcPartsPal 2021</p>
</footer>