<div class="listings-panel">
    <span class="listings-panel__total">
      <%= listing_count(@listings) %>
    </span>
    <div class="listings-panel__search-box">
      <input type="text" class="listings-panel__search search", placeholder="Search titles">
      <button id="reset-search" class="btn btn-up btn-ghost listings-panel__search__reset">Reset</button>
    </div>
    <div class="listings-panel__sort">
      <select name="sort" id="sort">
        <option value="oldest">Date Added: Old to New</option>
        <option value="newest">Date Added: New to Old</option>
        <option value="cheapest">Price: Lowest First</option>
        <option value="expensive">Price: Highest First  </option>
      </select>
    </div>
  </div>