.container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
}

.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}