.container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;

    &__start {
        align-self: start;
    }

    &--row {
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    }
}

.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// UTILITIES

.mt-3 {
    margin-top: 3rem;
}