.footer {
    margin-top: 5rem;
    padding: 1.5rem;
    background-color: $color-black;
    color: $color-grey-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 450px) {
        padding: 1.5rem 1rem;
    }

    &__socials {
        &__icon {
            width: 2.2rem;
            height: 2.2rem;
            margin-right: 1rem;
            cursor: pointer;

            @media only screen and (max-width: 1000px) {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }
}