.user-profile {
    display: flex;
    width: 100%;
    padding: 3rem 0;

    &__sidebar {
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &__list{
            width: 100%;
            &__list-item {
                list-style: none;
                padding: 3rem;
                box-shadow: $box-shadow-default;
                transition: .4s all;
                &:hover {
                    cursor: pointer;
                    background: $color-black;
                    box-shadow: none;
                    
                    span {
                        color: $color-grey-light;
                    }
                }
            }
        }
    }
    &__content {

    }
}