//  COLORS

$color-black: #121314;
$color-grey-dark: #52616b;
$color-grey-medium: #c9d6df;
$color-grey-light: #f0f5f9;
$color-orangered: #d84520;
$color-danger: #e91111;
$color-alert: rgb(250, 109, 109);
$color-notice: rgb(255, 194, 80);
$color-success: rgb(108, 192, 108);

// BOX SHADOWS

$box-shadow-default: 0px 3px 0px 0px #EAEAEA;
$box-shadow-right: 3px 0px 0px 0px #EAEAEA;