<% provide(:title, "Payment Success") %>

<div class="container">
    <div class="payment-success">
        <div class="payment-success__image-box">
            <%= image_tag @purchase.listing.images[0], alt: "listing-image", class: "payment-success__image-box__image" if @purchase.listing.images[0] %>
        </div>
        <div class="payment-success__text">
            <h2 class="payment-success__text__header">Payment successful!</h2>
            <h3 class="payment-success__text__subheader">
                Congratulations on your purchase!
            </h3>
            <span class="payment-success__text__receipt">
                A confirmation email has been sent to your nominated email address. Receipt of payment can also be found <%= link_to "here", @purchase.receipt_url, class: "payment-success__text__receipt-url"  %>.
            </span>
        </div>
    </div>
</div>