.filter {
    width: 27.5rem;
    margin-right: 1rem;
    padding: 3rem 2rem 0 2rem;
    box-shadow: $box-shadow-right;

    &__header {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 1rem;
        padding: 0 1rem;
        border-left: 2px solid $color-orangered;

    }

    &__select {
        width: 100%;
        padding: 1rem;
        margin: .5rem 0;
        border-radius: .3rem;
        background: white;
    }

    &__submit {
        width: 100%;
        margin-top: .5rem;
    }

    &__reset {
        color: $color-black;
        text-decoration: none;
    }

    &__distance-filter, &__price-filter, &__condition-filter {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        &__label {
            margin-right: 1rem;
        }

        select {
            padding: 1rem;
            border: 1px solid $color-grey-medium;
            border-radius: .3rem;
            background-color: white;
        }
    }
}