.filter {
    width: 25rem;
    margin-right: 1rem;
    padding: 3rem 1.5rem 0 0;
    box-shadow: $box-shadow-right;

    &__header {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2rem;

    }

    &__select {
        width: 100%;
        padding: 1rem;
        margin: .5rem 0;
        border-radius: .3rem;
    }

    &__submit {
        width: 100%;
        margin-top: .5rem;
    }
}