.filter {
    width: 27.5rem;
    margin-right: 1rem;
    padding: 2rem 2rem 0 2rem;
    box-shadow: $box-shadow-right;
    display: flex;
    flex-direction: column;

    &__header {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 1rem;
        padding: 0 1rem;
        border-left: 2px solid $color-orangered;

    }

    &__reset {
        color: $color-black;
        text-decoration: none;
        margin-top: 3rem;
        text-align: center;
    }

    &__distance-filter, &__price-filter, &__condition-filter, &__brand-filter, &__category-filter {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        &__label {
            margin-right: 1rem;
        }

        select {
            padding: 1rem;
            border: 1px solid $color-grey-medium;
            border-radius: .3rem;
            background-color: white;
        }
    }
}