.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__header {
        font-size: 2.8rem;
        font-weight: 300;
        letter-spacing: 2px;
    }
    &__field {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;

        &--row {
            flex-direction: row;
            align-items: center;
        }
        
        &__extra-info {
            font-style: italic;
        }
        
        select {
        padding: 1rem 1rem;
        width: 100%;
        margin-top: .3rem;
        border: 1px solid $color-grey-medium;
        background: white;
        border-radius: .3rem;
        }
    }

    &__label {
        margin-bottom: .3rem;
    }

    &__label--small {
        margin-bottom: .3rem;
        font-size: 1.4rem;
    }

    &__label--radio {
        margin-right: 1rem;
    }

    &__radio {
        margin-right: 3rem;
    }

    &__input, &__text {
        padding: 1rem 1rem;
        width: 50rem;
        margin-top: .3rem;
        border: 1px solid $color-grey-medium;
        border-radius: .3rem;
        font-family: 'Roboto', sans-serif;

        &::placeholder {
            font-family: 'Roboto', sans-serif;
    
        }
    }

    &__number {
        padding: 1rem 1rem;
        width: 10rem;
        margin-top: .3rem;
        border: 1px solid $color-grey-medium;
        border-radius: .3rem;
    }
    
    &__subheader {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: .5rem;
    }

    &__dimensions {
        display: flex;
        flex-wrap: wrap;

        div {
            margin-right: 2rem;
        }
        
        &__info {
            font-size: 1.4rem;
        }
    }

    &__text {
        resize: vertical;
        height: 10rem;
    }
    &__submit {
        margin-bottom: 2rem;
    }
    &__login-redirect{
        justify-self: flex-start;
        &__link {
            text-decoration: none;
            color: $color-black;
            border-bottom: 1px solid $color-black;
            transition: .2s all;

            &:hover {
                color: $color-grey-dark;
                border-bottom: 1px solid $color-grey-medium;
            }
        }
    }
}